@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Arvo:wght@400;700&family=Bitter:wght@100;200;300;400;500;600;700;800;900&display=swap');
:root {
    --cor01: #0477BF;
    --cor02: #0B3B59;
    --cor03: #048ABF;
    --cor04: #0A4359;
    --cor05: #CDE5F6;
    --cor06: #F2F2F2;

    --font01: 'Bitter', serif;
    --font02: 'Arvo', serif;
}

* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

#header {
    position: fixed;
    width: 100%;
    box-sizing: border-box;
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    z-index: 99;
}

.bgchange {
    background-image: linear-gradient(to right, #006DA8, #11095c);
    border-bottom: 1px solid black;
}

.logo {
    margin: 0px 40px;
}

.logo > img {
    height: 50px;
    margin-top: 5px;
    padding: 5px;
    background-color: white;
    border-radius: 20px 0px;
    border: 1px solid black;
}

.btn {
    padding: 10px 10px;
    margin: 0px 10px;
    color: white;
    font-family: var(--font01);
    text-shadow: 1px 1px 1px black;
    cursor: pointer;
    position: relative;
    letter-spacing: 0.5px;
    text-decoration: none;
}

.btn::after {
    content: "";
    position: absolute;
    background-color: white;
    width: 0;
    height: 3px;
    left: 0;
    bottom: -17px;
    transition: .5s;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.459);
}

.btn:hover::after {
    width: 100%;
}

.btn:hover {
    text-shadow: 1px 1px 5px white;
}

.first-bg {
    background-image: url("images/foto3.jpg");
    background-position: 0% 20%;
    background-size: cover;
    background-attachment: fixed;

    width: 100%;
    height: 100vh;
}

.transparency-gradient {
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 10%, black 100%);
}

.flashy-btn {
    width: 200px;
    height: 80px;
    background-color: black;
    transform: translate(-50%, -50%);
    top: 70%;
    left: 50%;
    text-align: center;
    border-radius: 10px;
    font-family: var(--font01);
    color: black;
    line-height: 75px;
    display: block;
    position: relative;
    overflow: hidden;
    border: 2px solid white;
}


.flashy-btn span, .flashy-btn {
    z-index: 2;
    position: relative;
    text-decoration: none;
    color: white;
    font-family: var(--font01);
    font-size: 1.2em;
}

.flashy-btn::before {
    content: "";
    width: 500px;
    height: 100px;
    left: 200px; /*0px 50px */
    background-color: #006DA8;
    position: absolute;
    transition: 1s;
}

.flashy-btn:hover::before {
    left: 0px;
}


.test {
    height: 1000px;
    width: 100%;
    background-color: wheat;
}

