@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Arvo:wght@400;700&family=Bitter:wght@100;200;300;400;500;600;700;800;900&family=Dancing+Script:wght@400;500;600;700&family=Qwitcher+Grypen:wght@400;700&family=Roboto+Mono:wght@300;400;500;600;700&display=swap');

:root {
    --cor01: #0477BF;
    --cor02: #0B3B59;
    --cor03: #048ABF;
    --cor04: #0A4359;
    --cor05: #CDE5F6;
    --cor06: #F2F2F2;

    --font01: 'Bitter', serif;
    --font02: 'Arvo', serif;
    --font03: 'Roboto Mono', monospace;
    --font04: 'Qwitcher Grypen', cursive;
    --font05: 'Dancing Script', cursive;
}

* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

html, body {
    width: 100%;
}

.menu-square, .slide-menu {
    display: none;
}

.navbar {
    position: fixed;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    z-index: 99;
    transition: .5s;
}

.bgchange {
    background-color: #1410ebbe;
    border-bottom: 1px solid black;
}

.logo > img {
    height: 50px;
    margin-top: 5px;
    padding: 5px;
    background-color: white;
    border-radius: 20px 0px;
    border: 1px solid black;
}

.btn {
    padding: 10px 10px;
    margin: 0px 10px;
    color: white;
    font-family: var(--font01);
    text-shadow: 1px 1px 1px black;
    cursor: pointer;
    position: relative;
    letter-spacing: 0.5px;
    text-decoration: none;
}

.btn::after {
    content: "";
    position: absolute;
    background-color: white;
    width: 0;
    height: 3px;
    left: 0;
    bottom: -17px;
    transition: .5s;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.459);
}

.btn:hover::after {
    width: 100%;
}

.btn:hover {
    text-shadow: 1px 1px 5px white;
}

.first-bg {
    background-image: url("../images/DSC_0060.jpg");
    background-position:center 90%;
    background-size: cover;
    background-attachment: fixed;

    width: 100%;
    height: 100vh;
}

.transparency-gradient {
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, black 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.text-place {
    opacity: 0.9;
    padding: 10px;
    border-radius: 20px;
    text-align: center;
    cursor: default;
}


.text-place > q {
    color: white;
    font-family: var(--font03);
    font-style: italic;
    text-shadow: 1px 1px 2px black;
    font-size: .9em;
    text-align: center;
}

.transparency-gradient > .text-place > h1 {
    font-family: var(--font04);
    color: rgb(4, 0, 255);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.76);
    letter-spacing: 5px;
    text-align: center;
    font-size: 10em;
}

.transparency-gradient > .text-place > h2 {
    font-family: var(--font05);
    color: rgb(89, 156, 255);
    font-weight: 500;
    font-size: 3em;
    letter-spacing: 7px;
    text-shadow: 1px 1px 2px black;
    margin-bottom: 20px;
    margin-top: -35px;
}


.flashy-btn {
    width: 200px;
    height: 50px;
    background-color: black;
    text-align: center;
    border-radius: 3px;
    font-family: var(--font01);
    color: black;
    line-height: 50px;
    display: block;
    position: relative;
    overflow: hidden;
    margin-top: 20px;
    border: 1px solid white;
    transition: 1s;
}


.flashy-btn span, .flashy-btn {
    z-index: 2;
    position: relative;
    text-decoration: none;
    color: white;
    font-family: var(--font01);
    font-size: 1.2em;
}

.flashy-btn::before {
    content: "";
    width: 500px;
    height: 100px;
    left: 200px; /*0px 50px */
    background-color: blue;
    position: absolute;
    transition: 1s;
}

.flashy-btn:hover::before {
    left: 0px;
}

.flashy-btn:hover {
    transform: scale(1.1);
    border-radius: 20px 0px;
}



.test {
    height: 1000px;
    width: 100%;
    background-color: wheat;
}

main {
    background-color: black;
    overflow: hidden;
}

#canvas, #canvas2{
    width: 100%;
    height: 100px;
    position: relative;
}

#canvas3 {
    position: absolute;
}

.enterprise-director-section {
    box-sizing: border-box;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    background-image: url(../images/conceito-do-pensamento-criativo-e-analítico-81927679\ \(2\).jpg);
    background-repeat: repeat-x;
    background-size: contain;
    color: black;
}

.director {
    background-color: wheat;
    display: flex;
    flex-direction: row;
    padding: 10px;
    border: 3px solid var(--cor02);
    border-radius: 10px;
    max-width: 1000px;
    box-shadow: 2px 2px 15px black;

}

.presentation {
    flex: 1;
    padding: 50px;
}

.characterer-name {
    text-align: center;
    font-family: var(--font05);
    padding: 10px;
    font-size: 3em;
    color: white;
    background-color: black;
    position: relative;
    top: -100px;
    left: 0%;
    border-radius: 50px;
    border: 3px solid var(--cor02);
    transition: 1s;
}

.presentation > h1{
    text-align: center;
    color: black;
    
    font-family: var(--font01);
    font-size: 1.7em;
    margin-top: -70px;
}

.row {
    height: 2px;
    width: 50px;
    background-color: #0477BF;
    margin: 10px 0px;
    transition: 1s;
}

.enterprise-director-section:hover > .director > .presentation >.row {
    width: 100%;
}

.presentation > p {
    font-family: var(--font02);
    color: rgb(48, 48, 48);
    text-align: justify;
    font-size: 1.3em;
    text-indent: 30px;
}

.characterer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.characterer-img {
    width: 300px;
    height: 400px;
    background-image: url(../images/charactererp.jpg);
    clip-path: polygon(14% 0%, 94% 6%, 93% 90%, 9% 96%);
    animation-name: img-square;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes img-square {
    0% {clip-path: polygon(14% 0%, 94% 6%, 93% 90%, 9% 96%);}
    20% {clip-path: polygon(18% 3%, 95% 17%, 79% 93%, 7% 80%);}
    40% {clip-path: polygon(36% 0%, 93% 32%, 61% 99%, 2% 61%);}
    60% {clip-path: polygon(52% 2%, 100% 49%, 43% 95%, 0% 34%);}
    80% {clip-path: polygon(73% 0%, 93% 62%, 21% 91%, 0% 18%);}
    100% {clip-path: polygon(77% 6%, 86% 78%, 11% 88%, 9% 9%);}
}

.enterprise-history-section {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.slide-item {
    flex: 1;
    height: 100%;
    transition: .5s;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: local;
    background-position: center;
    overflow: hidden;
}

.slide-item:hover {
    flex: 4;
}

.item1 {
    background-image: url(../images/DSC_0250.jpg);
    border-right: 3px solid black;
}

.item2 {
    background-image: url(../images/DSC_0081-2.jpg);
    border-right: 3px solid black;
}

.item3 {
    background-image: url(../images/DSC_0060.jpg);
    border-right: 3px solid black;
}

.item4 {
    background-image: url(../images/foto-livro.jpg);
}

.slide-item-textarea {
    width: 80%;
    padding: 20px;
    margin: auto;
    position: relative;
    top: 18%;
    background-color: rgba(0, 0, 0, 0.808);
    color: white;
    border-radius: 10px;
    box-shadow: 2px 2px 5px black;
    
    opacity: 0;
    visibility: hidden;
}

.slide-item:hover > .slide-item-textarea{
    visibility: visible;
    transition: .5s;
    opacity: .9;
    transition-delay: .5s;
}

.slide-item-textarea > h1 {
    font-family: var(--font01);
    margin-bottom: 10px;
    text-align: center;
}
.slide-item-textarea > p {
    font-family: var(--font02);
    text-indent: 20px;
    text-align: justify;
}

.quotes-section {
    border-top: 5px solid black;
    background-color: whitesmoke;
    transition: 1s;
}

.quotes-section-wrapper {
    text-align: justify;
    position: relative;
    background-color: whitesmoke;
    margin: 40px;
    border: 3px solid #0477BF;
    z-index: 10;
}

.quotes-section-wrapper::before, .quotes-section-wrapper::after {
    content: "";
    width: 100%;
    height: 100%;
    border: 3px solid #0477BF;
    position: absolute;
    border-bottom: 3px solid #0477BF;
    border-right: 3px solid #0477BF;
    top: 20px;
    left: 20px;
    z-index: 0;
}

.quotes-section-wrapper::after {
    top: -20px;
    left: -20px;
}

/*.quotes-section-wrapper:hover {
    transform: translate(-5px, -5px);
    box-shadow: 3px 3px 10px black;
}*/

.quotes-textarea {
    padding: 50px;
    box-sizing: border-box;
    
}



blockquote > p{
    font-family: var(--font01);
    font-size: 1.3em;
    line-height: 25px;
    text-indent: 20px;
    border-left: 5px solid #0477BF;
    padding-left: 30px;
    font-style: italic;
    font-weight: 600;
}
blockquote > p::before, blockquote > p::after {
    content: "''";
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1em;
    color: #0477BF;
    position: relative;
    left: 0;
}

cite {
    border-left: 0;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.4em;
}

